@inherits LayoutComponentBase

<div class="bb-page">
    <SidebarWrapper />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between">
            <AuthorizeView>
                <Authorized>
                    Logged in as @context.User.Identity?.Name. <a href="logout"><span class="bi bi-door-closed-fill" aria-hidden="true" style="vertical-align:middle"></span> Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login"><span class="bi bi-door-open" aria-hidden="true" style="vertical-align:middle"></span> Login</a>
                    <a href="register"><span class="bi bi-pencil-square" aria-hidden="true" style="vertical-align:middle"></span> Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
</div>
