@inherits LayoutComponentBase

<div class="bb-page">
    <SidebarWrapper />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between">
            <AuthorizeView>
                <Authorized>
                    <span>Logged in as @context.User.Identity?.Name.</span>
                    <a href="logout"><Icon Name="IconName.DoorClosedFill" /> Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login"><Icon Name="IconName.DoorOpenFill" /> Login</a>
                    <a href="register"><Icon Name="IconName.PencilSquare" /> Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
</div>
