@using AnkiBooks.ApplicationCore.Entities

<div class="border-primary p-4">
    <EditForm Model="Deck" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="d-flex flex-column">
            <InputText @bind-Value="@Deck.Name" class="mb-2" />

            <InputTextArea @bind-Value="@Deck.Description" class="mb-2" />

            <div class="d-flex justify-content-center">
                <button type="submit" class="ml-2">
                    Submit
                </button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public Deck StartingDeck { get; set; } = null!;

    protected override void OnInitialized()
    {
        Deck = StartingDeck;
    }

    [Parameter]
    public bool EditingExisting { get; set; }

    private string SubmitButtonText()
    {
        return EditingExisting ? "Update" : "Create";
    }

    [Parameter]
    public Func<Deck, Task> ParentSubmitMethod { get; set; } = null!;

    private async Task SubmitForm()
    {
        await ParentSubmitMethod.Invoke(Deck);
    }

    [SupplyParameterFromForm]
    public Deck Deck { get; set; } = null!;
}