@using AnkiBooks.ApplicationCore.Entities

<div class="w-100-percent h-100-percent d-flex justify-content-center align-items-center p-4">
    <div>
        @cardText
    </div>
</div>

@code {
    private MarkupString cardText;

    protected override void OnParametersSet()
    {
        cardText = (MarkupString)(AnswerRevealed == false ? ClozeNote.ClozeFrontHtml() : ClozeNote.ClozeBackHtml());
    }

    [Parameter]
    public ClozeNote ClozeNote { get; set; } = null!;

    [Parameter]
    public bool AnswerRevealed { get; set; }
}