<div class="d-flex flex-row justify-content-end">
    <div role="button" title="Edit card" class="w-5 h-5 mb-1 mr-1" @onclick="StartEditing" >
        <Edit />
    </div>
</div>

@code {
    [Parameter]
    public bool EditingCard { get; set; }

    [Parameter]
    public EventCallback<bool> EditingCardChanged { get; set; }

    private async Task StartEditing()
    {
        EditingCard = true;
        await EditingCardChanged.InvokeAsync(EditingCard);
    }
}