@inherits CardFormBase<BasicNote>

@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.WebApp.Client.Shared.Cards

<div class="w-100-percent h-100-percent px-2 py-1 border-color-primary border-width-thin border-style-solid">
    <EditForm Model="Card!" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="d-flex flex-column">
            <div class="mb-1 d-flex justify-content-end">
                <button type="button" @onclick="Cancel">
                    Cancel
                </button>
            </div>

            <InputTextArea @bind-Value="Card.Front" id="Front" class="p-2 mb-2" />
            
            <InputTextArea @bind-Value="Card.Back" id="Back" class="p-2 mb-1" />

            <div class="d-flex justify-content-center">
                <button type="submit">
                    @SubmitButtonText()
                </button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private string SubmitButtonText()
    {
        return EditingExisting ? "Update" : "Create";
    }
}