@using AnkiBooks.ApplicationCore.Entities

<div class="text-center d-flex flex-column">

    <div class="flex-grow-1 d-flex justify-content-center align-items-center p-4">
        <div>
            @BasicNote.Front
        </div>
    </div>

    @if (AnswerRevealed == true)
    {
        <div class="flex-grow-1 d-flex justify-content-center align-items-center p-4 border-color-primary border-width-thin-t border-style-solid">
            <div>
                @BasicNote.Back
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public BasicNote BasicNote { get; set; } = null!;

    [Parameter]
    public bool AnswerRevealed { get; set; }
}