@using System.Text.Json
@using AnkiBooks.ApplicationCore
@inject NavigationManager Navigation
@inject IConfiguration Config
@inject ILogger<New> Logger

@rendermode InteractiveWebAssembly

<button @onclick="showForm">New article</button>

@if (formVisible == true)
{
    <NewForm />
}

@code {
    private bool formVisible = false;

    private void showForm()
    {
        formVisible = true;
    }
}