@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Services

@inject ILinkService LinkService

<EditForm Model="NewLink" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>
            URL:
            <InputText @bind-Value="NewLink!.Url" />
        </label>
    </div>
    <div>
        <button type="submit">Add link source</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public List<Link> Links { get; set; } = null!;
    
    [Parameter]
    public EventCallback<List<Link>> LinksChanged { get; set; }

    [SupplyParameterFromForm]
    public Link? NewLink { get; set; }

    protected override void OnInitialized() => NewLink = new();

    private async Task HandleSubmit()
    {
        ArgumentNullException.ThrowIfNull(NewLink);
        ArgumentNullException.ThrowIfNull(NewLink.Url);
        // Validate URL here
        Link? createdLink = await LinkService.PostLink(NewLink);
        if (createdLink != null)
        {
            Links.Add(createdLink);
            await LinksChanged.InvokeAsync(Links);
        }
    }
} 
