@page "/sources"

@implements IDisposable

@using System.Text.Json
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Services

@inject ILinkService LinkService
@inject PersistentComponentState ApplicationState
@inject ILogger<SourcesIndex> logger

<h1>Sources:</h1>

@if (links == null)
{
    <p>Requesting links...</p>
}
else
{
    <ul>
        @foreach (Link link in links)
        {
            <li>
                <span>@link.Url</span>
            </li>
        }
    </ul>
}

<NewSource @bind-Links="links" />

@code {
    private List<Link>? links;

    private PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnInitializedAsync()
    {
        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        if (!ApplicationState.TryTakeFromJson<List<Link>?>(nameof(links), out var restored))
        {
            links = await LinkService.GetLinks();
        }
        else
        {
            links = restored;
        }

        ArgumentNullException.ThrowIfNull(links);
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson(nameof(links), links);

        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        persistingSubscription.Dispose();
    }
}