@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Enums
@using AnkiBooks.ApplicationCore.Interfaces
@using AnkiBooks.WebApp.Client.Pages.Articles.Show.Contents.Markdown

@if (dropDownItemSelected == null)
{
    <div class="my-1 d-flex justify-content-center">
        <InputSelect @bind-Value="dropDownItemSelected" name="new-content">
            <option value="" selected>New content</option>
            <option value="@ContentType.MarkdownContent">Markdown</option>
        </InputSelect>
    </div>
}
else
{
    @switch (dropDownItemSelected)
    {
        case ContentType.MarkdownContent:
            <NewMarkdown    @bind-ContentsContainer:get="ContentsContainer"
                            @bind-ContentsContainer:set="ContentsContainerChanged"
                            @bind-DropDownItemSelected="dropDownItemSelected"
                            OrdinalPosition="@OrdinalPosition" />
            break;

        default:
            break;

    }
}

@code {
    [Parameter]
    public OrderedElementsContainer<IContent> ContentsContainer { get; set; } = null!;

    [Parameter]
    public EventCallback<OrderedElementsContainer<IContent>> ContentsContainerChanged { get; set; }

    [Parameter]
    public int OrdinalPosition { get; set; }

    private ContentType? dropDownItemSelected = null;
}