@using AnkiBooks.Models

<div class="px-4 pb-3">
    <Card Style="width:18rem;">
        <CardHeader>
            <div class="d-flex justify-content-between">
                <span>Basic Note</span>
                <span>Edit</span>
            </div>
        </CardHeader>
        <CardBody class="border-bottom">
            @BasicNote.Front
        </CardBody>

        <CardBody>
            @BasicNote.Back
        </CardBody>
        <CardFooter>
            @BasicNote.OrdinalPosition
        </CardFooter>
    </Card>
</div>

@code {
    [Parameter]
    public BasicNote BasicNote { get; set; } = null!;
}