@page "/"
@layout MainLayout

@using AnkiBooks.WebApp.Client.Pages.Articles

<PageTitle>Anki Books</PageTitle>

<AuthorizeView>
    <Authorized>
        <ArticlesPage />
    </Authorized>

    <NotAuthorized>
        <div class="d-flex justify-content-center align-items-center h-screen-minus-header">
            <div>
                <div>Welcome to</div>
                <h1 class="color-secondary font-size-8xl sm:font-size-6xl font-bold">
                    Anki Books
                </h1>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
