.button-primary {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
    background-color: var(--ab-bg-primary);
    border: 1px solid var(--ab-color-cloze);
}

.button-primary:hover, .button-primary:active {
    background-color: white;
    color: black;
    border: 1px solid black;
}