.btn {
    padding: 0.25rem;
}

.btn-primary {
    color: black;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.823);
    border: 2px solid black;
}

.btn-primary:hover, .btn-primary:active {
    background-color: rgba(255, 255, 255, 0.612);
}

.btn-lg {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}