@using AnkiBooks.ApplicationCore.Entities

<div    class="border-primary text-center w-72 d-flex flex-column"
        role="button"
        tabindex="0" 
        @onclick="FlipCard" 
        @onkeypress="FlipCardFromKeyboardEnter">

    <div class="flex-grow-1 d-flex justify-content-center align-items-center p-4">
        <div>
            @BasicNote.Front
        </div>
    </div>

    @if (showAnswer == true)
    {
        <div class="flex-grow-1 d-flex justify-content-center align-items-center p-4 border-top-primary">
            <div>
                @BasicNote.Back
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public BasicNote BasicNote { get; set; } = null!;

    private bool showAnswer = false;

    private void FlipCard()
    {
        showAnswer = !showAnswer;
    }

    private void FlipCardFromKeyboardEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FlipCard();
        }
    }
}