<div    class="text-center p-2 h-100
                d-flex flex-column justify-content-center"
        role="button"
        tabindex="0" @onclick="FlipCard" @onkeypress="FlipCardFromKeyboardEnter">

    <span>
        @ClozeNoteText

        @if (showAnswer == true)
        {
            <span> this is a cloze note</span>
        }
        else
        {
            <span> [...]</span>
        }
    </span>

    
</div>

@code {
    [Parameter]
    public string ClozeNoteText { get; set; } = null!;

    private bool showAnswer = false;

    private void FlipCard()
    {
        showAnswer = !showAnswer;
    }

    private void FlipCardFromKeyboardEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FlipCard();
        }
    }
}