@using AnkiBooks.ApplicationCore.Entities

<EditForm Model="Content" OnValidSubmit="SubmitForm" class="mt-2 border-primary">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="d-flex flex-column">
        <InputTextArea @bind-Value="Content.Text" id="Text" class="p-2 mb-1" rows="20" />

        <div class="d-flex justify-content-center">
            <button type="submit">
                @SubmitButtonText()
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public MarkdownContent StartingContent { get; set; } = null!;

    protected override void OnInitialized()
    {
        Content = StartingContent;
    }

    [Parameter]
    public bool EditingExisting { get; set; }

    private string SubmitButtonText()
    {
        return EditingExisting ? "Update" : "Create";
    }

    [Parameter]
    public Func<MarkdownContent, Task> ParentSubmitMethod { get; set; } = null!;

    public async Task SubmitForm()
    {
        await ParentSubmitMethod.Invoke(Content);
    }

    [SupplyParameterFromForm]
    public MarkdownContent Content { get; set; } = null!;
}