@using Markdig
@using Ganss.Xss
@using Microsoft.AspNetCore.Components

<div>
    @RenderIt()
</div>

@code {
    [Parameter]
    public string MarkdownText { get; set; } = null!;

    private MarkdownPipeline pipeline = new MarkdownPipelineBuilder()
                                            .UseAdvancedExtensions()
                                            .Build();
    private HtmlSanitizer sanitizer = new();

    public MarkupString RenderIt()
    {
        string html = Markdown.ToHtml(MarkdownText ?? "", pipeline);

        string sanitizedHtml = sanitizer.Sanitize(html);

        return (MarkupString)sanitizedHtml;
    }
}