<div    class="text-center p-2 border-primary"
        role="button"
        tabindex="0" 
        @onclick="FlipCard" 
        @onkeypress="FlipCardFromKeyboardEnter">

    <div>
        @BasicNoteFront
    </div>

    @if (showAnswer == true)
    {
        <div class="mt-2 pt-2 border-top-primary">
            @BasicNoteBack
        </div>
    }
</div>

@code {
    [Parameter]
    public string BasicNoteFront { get; set; } = null!;

    [Parameter]
    public string BasicNoteBack { get; set; } = null!;

    private bool showAnswer = false;

    private void FlipCard()
    {
        showAnswer = !showAnswer;
    }

    private void FlipCardFromKeyboardEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FlipCard();
        }
    }
}