@page "/"
@layout StaticLayout

@using AnkiBooks.WebApp.Components.Layout
@using AnkiBooks.WebApp.Client.Shared.Heroicons

<PageTitle>Anki Books</PageTitle>

<div class="d-flex justify-content-center mt-4">
    <div>
        <span> Hello! Welcome to </span>

        <h1 class="font-size-48-px">
            Anki Books
        </h1>

        <ul class="mt-4">
            <li>a free and open-source software</li>
            <li>a tool for organizing and documenting an Anki collection</li>
            <li>a place for users to collaborate on creating spaced repetition practice material</li>
            <li>a community of sharing knowledge</li>
        </ul>
    </div>
</div>
