@page "/"
@using AnkiBooks.WebApp.Components.Layout
@layout StaticLayout

<PageTitle>Anki Books</PageTitle>

<div style="margin: auto; max-width: 1130px;">

    <h1 class="app-name">
        Anki Books
    </h1>

    <p>Anki Books is:</p>
    <ul>
        <li>a free and open-source software</li>
        <li>a tool for organizing and documenting an Anki collection</li>
        <li>a place for users to collaborate on creating spaced repetition practice material</li>
        <li>a community of sharing knowledge</li>
    </ul>

</div>