@inherits LayoutComponentBase

<header class="site-header d-flex flex-row justify-content-between align-items-center p-4">
    <div>
        <NavLink href="" Match="NavLinkMatch.All">Anki Books</NavLink>
    </div>
    <div>
        <AuthorizeView>
            <Authorized>
                <a class="site-header-a mr-4" href="Account/Manage">@context.User.Identity?.Name</a>

                <span>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="" />
                        <button type="submit" class="nav-link">Logout</button>
                    </form>
                </span>
            </Authorized>
            <NotAuthorized>
                <a class="mr-4" href="Account/Register">Register</a>

                <a href="Account/Login">Sign in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>

<div class="m-4 p-4">
    @Body
</div>