:root {
    --ankibooks-background-color: #171717;
    --ankibooks-input-background-color: rgb(255, 255, 255);
    --ankibooks-text-color: #ececec;
    --ankibooks-border-color: #404040;
    --ankibooks-hyperlink-color: #75b6e7;
    --ankibooks-hyperlink-hover-color: #278cda;
}

:root {
    --rz-primary: var(--ankibooks-hyperlink-color);
    --rz-on-primary: black;
    --rz-card-border: 1px solid var(--ankibooks-border-color);
    --rz-dropdown-open-background-color: var(--ankibooks-background-color);
    --rz-dropdown-item-hover-background-color: var(--ankibooks-background-color);
    --rz-dropdown-item-hover-color: var(--ankibooks-hyperlink-hover-color);
    --rz-dropdown-panel-border: 1px solid var(--ankibooks-border-color);
    --rz-input-background-color:  var(--ankibooks-input-background-color);
    --rz-dialog-background-color: var(--ankibooks-background-color);
    --rz-dialog-title-background-color: var(--ankibooks-background-color);
    --rz-dialog-title-color: var(--ankibooks-text-color);
    --rz-dialog-title-border: 1px solid var(--ankibooks-border-color);
    --rz-dialog-title-font-weight: 600;
    --rz-text-body1-color: var(--ankibooks-text-color);
    --rz-input-border: 1px solid var(--ankibooks-hyperlink-color);
    --rz-input-value-color: var(--ankibooks-text-color);
    --rz-input-background-color: var(--ankibooks-background-color);
}

body {
    background: unset;
}

a {
    color: var(--ankibooks-hyperlink-color);
    text-decoration: none;
}

a:hover {
    color: var(--ankibooks-hyperlink-hover-color);
    text-decoration: underline;
}