:root {
    --ankibooks-background-color: #171717;
    --ankibooks-text-color: #e6e6e6;
    --ankibooks-border-color: #404040;
    --ankibooks-hyperlink-color: #75b6e7;
    --ankibooks-hyperlink-hover-color: #278cda;
}

body {
    background: unset;
}

a {
    color: var(--ankibooks-hyperlink-color);
    text-decoration: none;
}

a:hover {
    color: var(--ankibooks-hyperlink-hover-color);
    text-decoration: underline;
}