::deep select {
    color: var(--ab-color-primary-dark);
    background-color: var(--ab-bg-primary-dark) ;
}

::deep option {
    color: var(--ab-color-primary-dark);
}

::deep .dragover-highlight {
    background-color: rgb(72, 173, 255);
}