@inherits AddElementBase
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@inject ILogger<NewBasicNote> Logger
@inject IAnkiBooksApiService ApiService

<div class="d-flex justify-content-center my-2">
    <RadzenCard Variant="Variant.Outlined" Style="width: 32rem">
        <EditForm Model="ClozeNote" OnValidSubmit="SubmitForm">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <RadzenStack Gap="10">
                <RadzenTextArea @bind-Value="ClozeNote!.Text" id="Text" />
        
                <div class="d-flex justify-content-center">
                    <RadzenButton type="submit" Text="Create" Variant="Variant.Outlined" Size="ButtonSize.Small" />
                </div>
            </RadzenStack>
        </EditForm>
    </RadzenCard>
</div>

@code {
    [Parameter]
    public bool HideSplitButtonAndShowForm { get; set; }

    [Parameter]
    public EventCallback<bool> HideSplitButtonAndShowFormChanged { get; set; }

    [SupplyParameterFromForm]
    public ClozeNote? ClozeNote { get; set; }

    protected override void OnInitialized()
    {
        // Set ArticleId here so the form can be submitted (otherwise it is not valid)
        ClozeNote = new()
        {
            ArticleId = ArticleId
        };
    }

    private async Task SubmitForm()
    {
        ArgumentNullException.ThrowIfNull(ClozeNote);
        ArgumentNullException.ThrowIfNull(ClozeNote.Text);
        ArgumentNullException.ThrowIfNull(ArticleId);

        int ordinalPosition = (PairedElement != null) ? 
                                    OrderedElementsContainer.GetOrdinalPosition(PairedElement) : 
                                    OrderedElementsContainer.Count();

        ClozeNote cnData = new ClozeNote
            {
                Text = ClozeNote.Text,
                ArticleId = ArticleId,
                OrdinalPosition = ordinalPosition
            };

        ClozeNote? clozeNote = await ApiService.PostClozeNote(cnData);
        ArgumentNullException.ThrowIfNull(clozeNote);

        OrderedElementsContainer.Add(clozeNote);
        await OrderedElementsContainerChanged.InvokeAsync(OrderedElementsContainer);
        HideSplitButtonAndShowForm = false;
        await HideSplitButtonAndShowFormChanged.InvokeAsync(HideSplitButtonAndShowForm);
    }
}