@page "/articles/{id}"
@layout ArticlesSidebar
@using System.Text.Json
@using AnkiBooks.Models
@inject IConfiguration Config
@inject HttpClient Http
@inject ILogger<Show> Logger
@implements IDisposable
@inject PersistentComponentState ApplicationState

@rendermode InteractiveWebAssembly

@if (article == null)
{
    <PageTitle>Loading article...</PageTitle>

    <p>Loading article...</p>
}
else
{
    <PageTitle>@article.Title</PageTitle>

    @for(int ordinalPosition = 0; ordinalPosition < article.BasicNotes.Count; ordinalPosition++)
    {
        <AddSplitButton @bind-Article="article" OrdinalPosition="@ordinalPosition" />

        <ShowBasicNote BasicNote="@article.BasicNotes.ElementAt(ordinalPosition)" />
    }

    <AddSplitButton @bind-Article="article" OrdinalPosition="@article.BasicNotes.Count" />
}

@code {
    [Parameter]
    public string? Id { get; set; }

    string? serviceEndpoint;
    private Article? article;
    private PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnInitializedAsync()
    {
        ArgumentNullException.ThrowIfNull(Id);

        persistingSubscription =
            ApplicationState.RegisterOnPersisting(PersistData);

        serviceEndpoint = $"{Config.GetValue<string>("Url")}/api/Articles/{Id}";

        if (!ApplicationState.TryTakeFromJson<Article>(nameof(article), out var restored))
        {
            article = await GetArticle();
        }
        else
        {
            article = restored;
        }
    }
    private Task PersistData()
    {
        ApplicationState.PersistAsJson(nameof(article), article);

        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        persistingSubscription.Dispose();
    }

    private async Task<Article?> GetArticle()
    {
        return await Http.GetFromJsonAsync<Article>(serviceEndpoint);
    }
}