@using AnkiBooks.ApplicationCore.Entities

<div class="d-flex justify-content-center my-2">
    <RadzenCard Variant="Variant.Outlined" Style="width: 32rem">
        <div class="d-flex justify-content-around">
            <span>Basic Note</span>
            <span>Edit</span>
            <span>@BasicNote.OrdinalPosition</span>
        </div>

        <div class="border-bottom text-center pb-2 my-2">
            @BasicNote.Front
        </div>

        <div class="text-center">
            @BasicNote.Back
        </div>
    </RadzenCard>
</div>

@code {
    [Parameter]
    public BasicNote BasicNote { get; set; } = null!;
}