@page "/add"

<PageTitle>Add</PageTitle>

<AuthorizeView>
    <Authorized>
        <LinkForm />
    </Authorized>

    <NotAuthorized>
        <p>
            You must be logged in to use this part of the app :)
        </p>
    </NotAuthorized>
</AuthorizeView>

