<div>
    <form method="post" action="endpoint_todo" name="add-link-form">
        <label for="url">Enter a URL:</label>
        <input type="url" name="url" id="url" placeholder="https://example.com" size="30" required />
        <button type="submit">Add link</button>
    </form>
</div>
