@using AnkiBooks.ApplicationCore.Entities

<div    class="text-center p-2 h-100
                d-flex flex-column justify-content-center"
        role="button"
        tabindex="0" 
        @onclick="FlipCard" 
        @onkeypress="FlipCardFromKeyboardEnter">

    <div>
        @BasicNote.Front
    </div>

    @if (showAnswer == true)
    {
        <div class="mt-2 pt-2 border-top-primary">
            @BasicNote.Back
        </div>
    }
</div>

@code {
    [Parameter]
    public BasicNote BasicNote { get; set; } = null!;

    private bool showAnswer = false;

    private void FlipCard()
    {
        showAnswer = !showAnswer;
    }

    private void FlipCardFromKeyboardEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FlipCard();
        }
    }
}