@using AnkiBooks.Models;
@inject HttpClient Http

<Modal @ref="modal" Title="New article" IsVerticallyCentered="true">
    <BodyTemplate>
        <EditForm Model="Article" OnValidSubmit="SubmitForm" FormName="NewArticle">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="d-flex justify-content-around align-items-center p-2">
            <div>
                <label>Title:</label>
                <InputText @bind-Value="Article!.Title" />
            </div>

            <div>
                <Button Color="ButtonColor.Primary">Create article</Button>
            </div>
        </div>

    </EditForm>
    </BodyTemplate>
</Modal>

<Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">New article</Button>

@code {
    private Modal? modal;

    private async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }

    [SupplyParameterFromForm]
    private Article? Article { get; set; }

    protected override void OnInitialized()
    {
        Article ??= new("New article");
    }

    private void SubmitForm()
    {

    }
}