@inherits ChangesOrderedElementsContainerBase
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@inject ILogger<NewBasicNote> Logger
@inject IAnkiBooksApiService ApiService

<div class="d-flex justify-content-center my-2">
    <RadzenCard Variant="Variant.Outlined" Style="width: 32rem" class="p-2">
        <BasicNoteForm  StartingBasicNote="@StartingBasicNote()"
                        EditingExisting="false"
                        ParentSubmitMethod="@SubmitForm" />
    </RadzenCard>
</div>

@code {
    [CascadingParameter(Name="ArticleId")]
    public string ArticleId { get; set; } = null!;

    [Parameter]
    public IArticleElement? PairedElement { get; set; }

    [Parameter]
    public bool HideSplitButtonAndShowForm { get; set; }

    [Parameter]
    public EventCallback<bool> HideSplitButtonAndShowFormChanged { get; set; }

    private BasicNote StartingBasicNote()
    {
        return new()
        {
            ArticleId = ArticleId
        };
    }

    private async Task SubmitForm(BasicNote newBasicNote)
    {
        ArgumentNullException.ThrowIfNull(newBasicNote.Front);
        ArgumentNullException.ThrowIfNull(newBasicNote.Back);
        ArgumentNullException.ThrowIfNull(newBasicNote.ArticleId);

        newBasicNote.OrdinalPosition = (PairedElement != null) ? 
                                    OrderedElementsContainer.GetOrdinalPosition(PairedElement) : 
                                    OrderedElementsContainer.Count();
        
        BasicNote? createdBasicNote = await ApiService.PostBasicNote(newBasicNote);
        ArgumentNullException.ThrowIfNull(createdBasicNote);

        OrderedElementsContainer.Add(createdBasicNote);
        await OrderedElementsContainerChanged.InvokeAsync(OrderedElementsContainer);

        HideSplitButtonAndShowForm = false;
        await HideSplitButtonAndShowFormChanged.InvokeAsync(HideSplitButtonAndShowForm);
    }
}