@using AnkiBooks.ApplicationCore.Entities

<div class="p-4 border-primary">
    <EditForm Model="ClozeNote" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="d-flex flex-column">
            <InputTextArea @bind-Value="ClozeNote.Text" id="Text" class="p-2 mb-1" />

            <div class="d-flex justify-content-center">
                <button type="submit">
                    @SubmitButtonText()
                </button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public ClozeNote StartingClozeNote { get; set; } = null!;

    protected override void OnInitialized()
    {
        ClozeNote = StartingClozeNote;
    }

    [Parameter]
    public bool EditingExisting { get; set; }

    private string SubmitButtonText()
    {
        return EditingExisting ? "Update" : "Create";
    }

    [Parameter]
    public Func<ClozeNote, Task> ParentSubmitMethod { get; set; } = null!;

    private async Task SubmitForm()
    {
        await ParentSubmitMethod.Invoke(ClozeNote);
    }

    [SupplyParameterFromForm]
    public ClozeNote ClozeNote { get; set; } = null!;
}