@using AnkiBooks.ApplicationCore.Entities

<EditForm Model="ClozeNote" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <InputText @bind-Value="ClozeNote.Text" id="Text" />

        <div class="d-flex justify-content-center">
            <button type="submit">
                @SubmitButtonText()
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public ClozeNote StartingClozeNote { get; set; } = null!;

    protected override void OnInitialized()
    {
        ClozeNote = StartingClozeNote;
    }

    [Parameter]
    public bool EditingExisting { get; set; }

    private string SubmitButtonText()
    {
        return EditingExisting ? "Update" : "Create";
    }

    [Parameter]
    public Func<ClozeNote, Task> ParentSubmitMethod { get; set; } = null!;

    private async Task SubmitForm()
    {
        await ParentSubmitMethod.Invoke(ClozeNote);
    }

    [SupplyParameterFromForm]
    public ClozeNote ClozeNote { get; set; } = null!;
}