@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@inject ILogger<EditClozeNote> Logger
@inject IAnkiBooksApiService ApiService

<div class="d-flex justify-content-center my-2">
    <div class="p-2">
        <ClozeNoteForm  StartingClozeNote="@StartingClozeNote"
                        EditingExisting="true"
                        ParentSubmitMethod="@SubmitForm" />
    </div>
</div>

@code {
    [Parameter]
    public ClozeNote? StartingClozeNote { get; set; }

    [Parameter]
    public bool Editing { get; set; }

    [Parameter]
    public EventCallback<bool> EditingChanged { get; set; }

    private async Task SubmitForm(ClozeNote updatedClozeNote)
    {
        ArgumentNullException.ThrowIfNull(updatedClozeNote.Text);
        ArgumentNullException.ThrowIfNull(updatedClozeNote.ArticleId);
        ArgumentNullException.ThrowIfNull(updatedClozeNote.OrdinalPosition);

        ClozeNote? clozeNote = await ApiService.PutClozeNote(updatedClozeNote);
        ArgumentNullException.ThrowIfNull(clozeNote);

        Editing = false;
        await EditingChanged.InvokeAsync(Editing);
    }
}