<div class="text-center text-break flex-grow-1 p-2 pe-0 h-100
                d-flex flex-column justify-content-around align-items-center" role="button"
        tabindex="0" @onclick="FlipCard" @onkeypress="FlipCardFromKeyboardEnter">

    <span>@ClozeNoteText</span>

    @if (showAnswer == true)
        {
            <span>hello world</span>
        }
</div>

@code {
    [Parameter]
    public string ClozeNoteText { get; set; } = null!;

    private bool showAnswer = false;

    private void FlipCard()
    {
        showAnswer = !showAnswer;
    }

    private void FlipCardFromKeyboardEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FlipCard();
        }
    }
}