@inherits AddElementBase
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@inject ILogger<NewClozeNote> Logger
@inject IAnkiBooksApiService ApiService

<div class="d-flex justify-content-center my-2">
    <RadzenCard Variant="Variant.Outlined" Style="width: 32rem" class="p-2">
        <ClozeNoteForm  StartingClozeNote="@StartingClozeNote()"
                        EditingExisting="false"
                        ParentSubmitMethod="@SubmitForm" />
    </RadzenCard>
</div>

@code {
    [Parameter]
    public bool HideSplitButtonAndShowForm { get; set; }

    [Parameter]
    public EventCallback<bool> HideSplitButtonAndShowFormChanged { get; set; }

    private ClozeNote StartingClozeNote()
    {
        return new()
        {
            ArticleId = ArticleId
        };
    }

    private async Task SubmitForm(ClozeNote newClozeNote)
    {
        ArgumentNullException.ThrowIfNull(newClozeNote.Text);
        ArgumentNullException.ThrowIfNull(newClozeNote.ArticleId);

        newClozeNote.OrdinalPosition = (PairedElement != null) ? 
                                    OrderedElementsContainer.GetOrdinalPosition(PairedElement) : 
                                    OrderedElementsContainer.Count();
        
        ClozeNote? createdClozeNote = await ApiService.PostClozeNote(newClozeNote);
        ArgumentNullException.ThrowIfNull(createdClozeNote);

        OrderedElementsContainer.Add(createdClozeNote);
        await OrderedElementsContainerChanged.InvokeAsync(OrderedElementsContainer);

        HideSplitButtonAndShowForm = false;
        await HideSplitButtonAndShowFormChanged.InvokeAsync(HideSplitButtonAndShowForm);
    }
}