@inherits ChangesOrderedElementsContainerBase
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@inject ILogger<NewClozeNote> Logger
@inject IAnkiBooksApiService ApiService

<div class="d-flex justify-content-center my-2">
    <div class="p-2">
        <ClozeNoteForm  StartingClozeNote="@StartingClozeNote()"
                        EditingExisting="false"
                        ParentSubmitMethod="@SubmitForm" />
    </div>
</div>

@code {
    [CascadingParameter(Name="ArticleId")]
    public string ArticleId { get; set; } = null!;

    [Parameter]
    public IArticleElement? PairedElement { get; set; }

    private ClozeNote StartingClozeNote()
    {
        return new()
        {
            ArticleId = ArticleId
        };
    }

    private async Task SubmitForm(ClozeNote newClozeNote)
    {
        ArgumentNullException.ThrowIfNull(newClozeNote.Text);
        ArgumentNullException.ThrowIfNull(newClozeNote.ArticleId);

        newClozeNote.OrdinalPosition = (PairedElement != null) ? 
                                    OrderedElementsContainer.GetOrdinalPosition(PairedElement) : 
                                    OrderedElementsContainer.Count();
        
        ClozeNote? createdClozeNote = await ApiService.PostClozeNote(newClozeNote);
        ArgumentNullException.ThrowIfNull(createdClozeNote);

        OrderedElementsContainer.Add(createdClozeNote);
        await OrderedElementsContainerChanged.InvokeAsync(OrderedElementsContainer);
    }
}