<div    class="text-center p-2 border-primary"
        role="button"
        tabindex="0" @onclick="FlipCard" @onkeypress="FlipCardFromKeyboardEnter">

    <span>@ClozeNoteText</span>

    @if (showAnswer == true)
        {
            <span>hello world</span>
        }
</div>

@code {
    [Parameter]
    public string ClozeNoteText { get; set; } = null!;

    private bool showAnswer = false;

    private void FlipCard()
    {
        showAnswer = !showAnswer;
    }

    private void FlipCardFromKeyboardEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FlipCard();
        }
    }
}