@import "../bootstrap/scss/bootstrap.min";

$bs-body-font-family: system-ui;

.btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: none !important;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: unset;
    outline: 0;
    box-shadow: none;
}