@using AnkiBooks.ApplicationCore.Entities

<div    class="border-primary text-center w-72 d-flex flex-column
                    justify-content-center align-items-center p-4"
        role="button"
        tabindex="0"
        @onclick="FlipCard"
        @onkeypress="FlipCardFromKeyboardEnter">

    <div>
        @ClozeNote.Text

        @if (showAnswer == true)
        {
            <span> this is a cloze note</span>
        }
        else
        {
            <span> [...]</span>
        }
    </div>
    
</div>

@code {
    [Parameter]
    public ClozeNote ClozeNote { get; set; } = null!;

    private bool showAnswer = false;

    private void FlipCard()
    {
        showAnswer = !showAnswer;
    }

    private void FlipCardFromKeyboardEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FlipCard();
        }
    }
}