@implements IDisposable

@using System.Text.Json
@using System.Text.Json.Serialization
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@using System.Security.Claims
@using AnkiBooks.ApplicationCore.Interfaces.Services

@inject IConfiguration Config
@inject IUserArticleService UserArticleService
@inject ILogger<ArticlesTree> Logger
@inject PersistentComponentState ApplicationState
@inject AuthenticationStateProvider AuthenticationStateProvider

<div>
    @if (articles == null)
    {
        <p>Loading articles</p>
    }
    else
    {
        <input type="search" class="p-1 w-100" placeholder="Filter articles:" />

        <ul>
        @for(int i = 0; i < articles.Count; i++)
        {
            Article article = articles[i];

            <ArticlesTreeNode @bind-Articles="@articles" Article="@article" />
        }
        </ul>

        <NewArticle @bind-Articles="@articles" ParentArticle="@(null)" />
    }
</div>

@code {
    private List<Article>? articles;
    private PersistingComponentStateSubscription persistingSubscription;
    protected override async Task OnInitializedAsync()
    {
        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        if (!ApplicationState.TryTakeFromJson<List<Article>>(nameof(articles), out var restored))
        {
            string? userId = (await AuthenticationStateProvider.GetAuthenticationStateAsync())
                                .User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            articles = await UserArticleService.GetUserArticles(userId);
        }
        else
        {
            articles = restored;
        }
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson(nameof(articles), articles);

        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        persistingSubscription.Dispose();
    }
}