@using AnkiBooks.ApplicationCore.Entities

@using AnkiBooks.WebApp.Client.Shared.Sources.Links;

<div class="my-4 px-4">
    <h2 class="font-size-xl mb-2">
        Sources:
    </h2>
    <ul class="pl-8 mt-2 mb-4 list-style-outside list-style-type-disk">
        @if (numberSourcesToDisplay >= Article.Links.Count)
        {
            @foreach(Link l in Article.Links)
            {
                Link link = l;

                <li><LinkSource @bind-Link="@link" /></li>
            } 
        }
        else
        {
            @foreach(Link l in Article.Links.Slice(0, numberSourcesToDisplay))
            {
                Link link = l;

                <li><LinkSource @bind-Link="@link" /></li>
            }
        }
    </ul>

    @if (numberSourcesToDisplay > 0 && Article.Links.Count > 0)
    {
        <button class="button-primary mr-4" type="button" title="Show less sources" @onclick="ShowLessSources">
            Show less
        </button> 
    }

    @if (Article.Links.Count > numberSourcesToDisplay)
    {
        <button class="button-primary mr-4" type="button" title="Show more sources" @onclick="ShowMoreSources">
            Show more
        </button>

        <button class="button-primary mr-4" type="button" title="Show more sources" @onclick="ShowAllSources">
            Show all
        </button>
    }

    @if (addingSource == false)
    {
        <button class="button-primary" type="button" title="New source" @onclick="StartAddingSource">
            New source
        </button>
    }
</div>

@if(addingSource == true)
{
    <div class="px-4">
        <NewLink @bind-Article:get="@Article" @bind-Article:set="ArticleChanged" @bind-AddingSource="@addingSource" />
    </div>
}

@code {
    [Parameter]
    public required Article Article { get; set; }

    [Parameter]
    public EventCallback<Article> ArticleChanged { get; set; }

    protected override void OnParametersSet()
    {
        addingSource = false;
    }

    private int numberSourcesToDisplay = 5;

    private void ShowMoreSources()
    {
        numberSourcesToDisplay += 5;
    }

    private void ShowLessSources()
    {
        int less = numberSourcesToDisplay -= 5;
        if (less < 0)
        {
            numberSourcesToDisplay = 0;
        }
        else
        {
            numberSourcesToDisplay = less;
        }
    }

    private void ShowAllSources()
    {
        numberSourcesToDisplay = Article.Links.Count;
    }

    private bool addingSource = false;

    private void StartAddingSource()
    {
        addingSource = true;
    }
}