@inherits LayoutComponentBase
@layout MainLayout

<div class="d-flex h-100">
    <div class="flex-grow-1-5 min-w-1-5 p-4 border-right-primary">
        <ArticlesTree />
    </div>
    <div class="flex-grow-4-5 min-w-4-5">
        @Body
    </div>
</div>