@using AnkiBooks.ApplicationCore.Entities

<div class="m-4">
    @if (editingTitle == true)
    {
        <EditTitle @bind-Article:get="@Article"
                            @bind-Article:set="@ArticleChanged"
                            @bind-EditingTitle="editingTitle" />
    }
    else
    {
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="font-size-3xl">
                @Article.Title
            </h1>

            <div class="d-flex flex-row justify-content-start">
                <div class="w-5 h-5 mr-2" role="button" title="Edit article title" @onclick="StartEditingTitle">
                    <Edit />
                </div>

                <div role="button" class="w-5 h-5" title="Options (TODO)">
                    <Gear />
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Article Article { get; set; } = null!;

    [Parameter]
    public EventCallback<Article?> ArticleChanged { get; set; }

    protected override void OnParametersSet()
    {
        editingTitle = false;
    }

    private bool editingTitle = false;

    private void StartEditingTitle()
    {
        editingTitle = true;
    }
}