@inherits LayoutComponentBase
@layout MainLayout

<div class="d-flex h-100">
    <div class="p-4 border-right-primary" style="max-width: 15rem;">
        <ArticlesTree />
    </div>
    <div class="flex-grow-1 p-4">
        @Body
    </div>
</div>