::deep select {
    color: var(--ab-color-primary-dark);
    background-color: var(--ab-bg-primary) ;
}

::deep option {
    color: var(--ab-color-primary-dark);
}

::deep .dragover-highlight {
    background-color: rgb(72, 173, 255);
}

::deep pre {
    overflow-x: scroll;
}