@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Services

@inject IUserArticleService UserArticleService
@inject ILogger<EditTitle> logger

<EditForm Model="FormArticle" OnValidSubmit="SubmitForm">
    <div class="d-flex flex-row justify-content-start">

        <InputText class="flex-grow-1" @bind-Value="@FormArticle.Title" />

        <button type="submit" class="ml-2">
            Update article title
        </button>
    </div>
</EditForm>

@code {
    [Parameter]
    public bool EditingTitle { get; set; }

    [Parameter]
    public EventCallback<bool> EditingTitleChanged { get; set; }

    [Parameter]
    public Article Article { get; set; } = null!;

    [Parameter]
    public EventCallback<Article> ArticleChanged { get; set; }

    [SupplyParameterFromForm]
    public Article FormArticle { get; set; } = new();

    protected override void OnInitialized()
    {
        FormArticle = Article;
    }

    private async Task SubmitForm()
    {
        ArgumentNullException.ThrowIfNull(FormArticle.Id);
        ArgumentNullException.ThrowIfNull(FormArticle.Title);

        Article? updatedArticle = await UserArticleService.PatchUserArticle(FormArticle);
        ArgumentNullException.ThrowIfNull(updatedArticle);

        Article.Title = updatedArticle.Title;
        await ArticleChanged.InvokeAsync(Article);

        EditingTitle = false;
        await EditingTitleChanged.InvokeAsync(EditingTitle);
    }
}
