@using AnkiBooks.ApplicationCore.Entities

@if (ElementsContainer != null)
{
    List<ArticleElement> elements = ElementsContainer.OrderedElements;
    <div class="my-4 px-4">
        <div class="mb-2">
            In this article:
        </div>
        <ul class="pl-8 list-style-outside list-style-type-disk">
        @foreach(ArticleElement element in elements)
        {
            <li>
                @switch (element)
                {
                    case Deck deck:
                        <a href="/articles/@(ArticleId)#@(element.DomId())">@deck.Name</a>
                        break;

                    case MarkdownContent markdown:
                        <a href="/articles/@(ArticleId)#@(element.DomId())">@(markdown.Name())</a>
                        break;

                    default:
                        throw new ApplicationException();
                }
            </li>
        }
        </ul>
    </div>
}

@code {
    [CascadingParameter(Name="ArticleId")]
    public required string ArticleId { get; set; }

    [Parameter]
    public required OrderedElementsContainer<ArticleElement> ElementsContainer { get; set; }

    [Parameter]
    public required EventCallback<OrderedElementsContainer<ArticleElement>> ElementsContainerChanged { get; set; }
}