@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Enums
@using AnkiBooks.ApplicationCore.Interfaces
@using AnkiBooks.WebApp.Client.Pages.Articles.NewArticleElement

@if (dropDownItemSelected == null)
{
    <div class="my-4 d-flex justify-content-center">
        <InputSelect @bind-Value="dropDownItemSelected" name="new-element">
            <option value="" selected>New element</option>
            <option value="@ArticleElementType.Deck">Deck</option>
            <option value="@ArticleElementType.MarkdownContent">Markdown</option>
        </InputSelect>
    </div>
}
else
{
    @switch (dropDownItemSelected)
    {
        case ArticleElementType.Deck:
            <NewDeck    @bind-ElementsContainer:get="ElementsContainer"
                        @bind-ElementsContainer:set="ElementsContainerChanged"
                        @bind-DropDownItemSelected="dropDownItemSelected"
                        OrdinalPosition="@OrdinalPosition" />
            break;    
    
        case ArticleElementType.MarkdownContent:
            <NewMarkdown    @bind-ElementsContainer:get="ElementsContainer"
                            @bind-ElementsContainer:set="ElementsContainerChanged"
                            @bind-DropDownItemSelected="dropDownItemSelected"
                            OrdinalPosition="@OrdinalPosition" />
            break;

        default:
            break;

    }
}

@code {
    [Parameter]
    public OrderedElementsContainer<ArticleElement> ElementsContainer { get; set; } = null!;

    [Parameter]
    public EventCallback<OrderedElementsContainer<ArticleElement>> ElementsContainerChanged { get; set; }

    [Parameter]
    public int OrdinalPosition { get; set; }

    private ArticleElementType? dropDownItemSelected = null;
}