@using AnkiBooks.ApplicationCore.Entities

<div class="my-4 px-2 pt-2 pb-1 border-primary-thin">
    <EditForm Model="BasicNote" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="d-flex flex-column">
            <InputTextArea @bind-Value="BasicNote.Front" id="Front" class="p-2 mb-2" />
            
            <InputTextArea @bind-Value="BasicNote.Back" id="Back" class="p-2 mb-1" />

            <div class="d-flex justify-content-center">
                <button type="submit">
                    @SubmitButtonText()
                </button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public BasicNote StartingBasicNote { get; set; } = null!;

    protected override void OnInitialized()
    {
        BasicNote = StartingBasicNote;
    }

    [Parameter]
    public bool EditingExisting { get; set; }

    private string SubmitButtonText()
    {
        return EditingExisting ? "Update" : "Create";
    }

    [Parameter]
    public Func<BasicNote, Task> ParentSubmitMethod { get; set; } = null!;

    private async Task SubmitForm()
    {
        await ParentSubmitMethod.Invoke(BasicNote);
    }

    [SupplyParameterFromForm]
    public BasicNote BasicNote { get; set; } = null!;
}