@inherits LayoutComponentBase
@layout MainLayout

<RadzenSplitter Orientation="Orientation.Horizontal" class="flex-grow-1">
    <RadzenSplitterPane Size="20%" Min="30px" Max="70%">
        <div class="p-4">
            hello world
        </div>
    </RadzenSplitterPane>
    <RadzenSplitterPane>
        <div class="p-4">
            @Body
        </div>
    </RadzenSplitterPane>

</RadzenSplitter>