@inherits LayoutComponentBase

<header class="site-header">
    <span>Anki Books</span>

    <div class="d-flex align-items-center">
        <AuthorizeView>
            <Authorized>
                <a href="Account/Manage">@context.User.Identity?.Name</a>

                <span>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="/" />
                        <button type="submit" class="nav-link">Logout</button>
                    </form>
                </span>
            </Authorized>
            <NotAuthorized>
                <a href="Account/Register" class="me-4">Register</a>

                <a href="Account/Login">Login</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>

<div>
    div for rest
</div>

<RadzenComponents />
