.site-header {
    border-block-end: 1px solid var(--ankibooks-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.375rem;
    padding-inline: 36px;
    font-size: 24px;
}

.site-header a {
    font-size: 16px;
}

::deep .rz-sidebar-expanded {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: var(--rz-sidebar-width);
    }
}

::deep .rz-dialog-mask {
    animation: mask 0.3s;
    backdrop-filter: blur(10px);
}

@keyframes mask {
    from {
        opacity: 0;
        background-color: transparent;
    }

    to {
        opacity: 0.5;
        background-color: var(--rz-dialog-mask-background-color);
    }
}
