@inherits LayoutComponentBase

<Sidebar    @bind-SidebarExpanded="sidebarExpanded"
            @bind-SidebarHasBeenCollapsed="sidebarHasBeenCollapsed" />

<div class="d-flex flex-column min-vh-100">
    <Header @bind-SidebarExpanded="sidebarExpanded" />

    <main class="flex-grow-1">
        @Body
    </main>
</div>

@code {
    bool sidebarExpanded = false;
    bool sidebarHasBeenCollapsed = false;
}