@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <header class="site-header">
        <span>Anki Books</span>

        <div class="d-flex align-items-center">
            <AuthorizeView>
                <Authorized>
                    <a href="Account/Manage">@context.User.Identity?.Name</a>

                    <span>
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="/" />
                            <button type="submit" class="nav-link">Logout</button>
                        </form>
                    </span>
                </Authorized>
                <NotAuthorized>
                    <a href="Account/Register" class="me-4">Register</a>

                    <a href="Account/Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </header>

    <RadzenSplitter Orientation="Orientation.Horizontal" class="flex-grow-1">
        <RadzenSplitterPane Size="20%" Min="30px" Max="70%">
            <div class="p-4">
                hello world
            </div>
        </RadzenSplitterPane>
        <RadzenSplitterPane>
            <div class="p-4">
                @Body
            </div>
        </RadzenSplitterPane>

    </RadzenSplitter>

</div>

<RadzenComponents />
