.site-header {
    border-block-end: 1px solid var(--ankibooks-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.375rem;
    padding-inline: 36px;
    font-size: 24px;
}

.site-header a {
    font-size: 16px;
}

.ankibooks-app-sidebar {
    z-index: 3;
    display: flex;
    left: -300px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
}

.ankibooks-app-sidebar.fade-in {
  display: flex;
  animation: fade-in 0.3s ease-in-out forwards;
}

.ankibooks-app-sidebar.fade-out {
  animation: fade-out 0.3s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    left: -300px;
    display: none;
  }

  100% {
    left: 0;
    display: flex;
  }
}

@keyframes fade-out {
  0% {
    left: 0;
    display: flex;
  }

  100% {
    left: -300px;
    display: none;
  }
}
