@using AnkiBooks.ApplicationCore.Entities

@using AnkiBooks.WebApp.Client.Pages.Articles

@inherits ArticleElementFormBase<Deck>

<div class="border-primary pt-4 px-4 pb-2 w-100">
    <EditForm Model="ArticleElement" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="d-flex flex-column">
            <div class="mb-2 d-flex justify-content-start align-items-center">
                <label class="mr-2">Name:</label>
                <InputText class="flex-grow-1" @bind-Value="@ArticleElement.Name" />
            </div>

            <label class="mb-2">Description:</label>
            <InputTextArea @bind-Value="@ArticleElement.Description" class="mb-2" rows="5" />

            <div class="d-flex justify-content-center">
                <button type="submit" class="ml-2">
                    @SubmitButtonText()
                </button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private string SubmitButtonText()
    {
        return EditingExisting ? "Update deck" : "Create deck";
    }
}