input, textarea, select {
    color: rgb(255, 255, 255);
    background-color: #343434;
}

input, textarea {
    padding: 0.25rem;
}

option {
    color: black;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
}