@import "./components/button.css";

@import "./utilities/background-color.css";
@import "./utilities/border.css";
@import "./utilities/color.css";
@import "./utilities/cursor.css";
@import "./utilities/display.css";
@import "./utilities/flex-direction.css";
@import "./utilities/flex-grow.css";
@import "./utilities/flex-shrink.css";
@import "./utilities/flex.css";
@import "./utilities/float.css";
@import "./utilities/font-size.css";
@import "./utilities/font-weight.css";
@import "./utilities/height.css";
@import "./utilities/list-style.css";
@import "./utilities/margin.css";
@import "./utilities/min-width.css";
@import "./utilities/overflow.css";
@import "./utilities/padding.css";
@import "./utilities/position.css";
@import "./utilities/text-align.css";
@import "./utilities/visibility.css";
@import "./utilities/width.css";
@import "./utilities/word-break.css";

@import "./vendor/preflight.css";

@import "./dialog.css";
@import "./forms.css";
@import "./theme.css";

/* :root {
    --ankibooks-background-color: #171717;
    --ankibooks-input-background-color: rgb(255, 255, 255);
    --ankibooks-text-color: #ececec;
    
    --ankibooks-hyperlink-color: #75b6e7;
    --ankibooks-hyperlink-hover-color: #278cda;
} */

a {
    color: var(--ankibooks-hyperlink-color);
    text-decoration: none;
}

/* TODO: Something else than this */
a.active {
    color: rgb(103, 204, 255);
}

a:hover {
    color: var(--ankibooks-hyperlink-hover-color);
    text-decoration: underline;
}