:root {
    --ab-bg-primary: rgb(18 13 25);
    --ab-bg-secondary: rgb(28 8 49);
    --ab-bg-secondary-alt: rgba(19, 4, 35, 0.9);

    --ab-bg-secondary-dark: #2f2f2f;
    --ab-bg-tertiary-dark: #343434;

    --ab-color-primary: rgb(236 231 242);
    --ab-color-secondary: rgb(177 102 255);

    --ab-color-cloze: rgb(72, 173, 255);

    --ab-color-primary-dark: #ececec;
    --ab-color-secondary-dark: #e6e6e6;

    --ab-border-primary-dark: #404040;
    --ab-border-secondary-dark: #00000069;

    --ab-border-color-secondary: #9ca3af;

    --ab-bg-primary-light: #202020;
}