:root {
    --ab-bg-primary-dark: #171717;
    --ab-bg-secondary-dark: #2f2f2f;
    --ab-bg-tertiary-dark: #343434;

    --ab-color-primary-dark: #ececec;
    --ab-color-secondary-dark: #e6e6e6;

    --ab-border-primary-dark: #404040;
    --ab-border-secondary-dark: #00000069;

    --ab-bg-primary-light: #202020;
}