.bg-primary {
    background-color: var(--ab-bg-primary);
}

.hover\:bg-primary-light:hover {
    background-color: var(--ab-bg-primary-light);
}

.bg-secondary {
    background: var(--ab-bg-secondary-dark);
}

.bg-tertiary {
    background: var(--ab-bg-tertiary-dark)
}