.border-primary {
    border: 2px;
    border-color: var(--ab-border-primary-dark);
    border-style: solid;
}

.border-primary-thin {
    border: 1px;
    border-color: var(--ab-border-primary-dark);
    border-style: solid;
}

.border-top-primary {
    border-top: 2px;
    border-color: var(--ab-border-primary-dark);
    border-style: solid;    
}

.border-bottom-primary {
    border-bottom: 2px;
    border-color: var(--ab-border-primary-dark);
    border-style: solid;
}

.border-bottom-primary-thin {
    border-bottom: 1px;
    border-color: var(--ab-border-primary-dark);
    border-style: solid;
}

.border-right-primary {
    border-right: 2px;
    border-color: var(--ab-border-primary-dark);
    border-style: solid;
}

.border-left-primary-thin {
    border-left: 1px;
    border-color: var(--ab-border-primary-dark);
    border-style: solid;
}

.border-bottom-secondary {
    border-bottom: 2px;
    border-color: var(--ab-border-secondary-dark);
    border-style: solid;  
}

.border-right-secondary {
    border-right: 2px;
    border-color: var(--ab-border-secondary-dark);
    border-style: solid;     
}