.border-width-thin {
    border-width: 1px;
}

.border-width-thin-r {
    border-right: 1px;
}

.border-width-thin-l {
    border-left: 1px;
}

.border-width-thin-t {
    border-top: 1px;
}

.border-width-thin-b {
    border-bottom: 1px;
}

.border-color-primary {
    border-color: var(--ab-color-cloze);
}

.border-style-solid {
    border-style: solid;
}
