.font-size-xl {
    font-size: 24px;
}

.font-size-2xl {
    font-size: 28px;
}

.font-size-3xl {
    font-size: 32px;
}

.font-size-4xl {
    font-size: 36px;
}

.font-size-6xl {
    font-size: 60px;
}

.font-size-8xl {
    font-size: 72px;
}

@media (min-width: 640px) {
    .sm\:font-size-4xl {
        font-size: 36px;
    }

    .sm\:font-size-6xl {
        font-size: 60px;
    }
}

.font-size-24-px {
    font-size: 24px;
}

.font-size-32-px {
    font-size: 32px;
}

.font-size-48-px {
    font-size: 48px;
}