.h-100-percent {
    height: 100%;
}

.min-vh-100 {
    min-height: 100vh;
}

.min-h-20 {
    min-height: 5rem;
}

.min-h-30 {
    min-height: 7.5rem;
}

.h-screen {
    height: 100vh;
}

.h-screen-minus-header {
    height: calc(100vh - 58px);
}

.h-4 {
    height: 1rem;
}

.h-5 {
    height: 1.25rem;
}

.h-6 {
    height: 1.5rem;
}

.h-8 {
    height: 2rem;
}

.h-12 {
    height: 3rem;
}

.h-24 {
    height: 6rem;
}

.h-48 {
    height: 12rem;
}

.h-58 {
    height: 14.5rem;
}